.mobile {
  position: absolute;
  top: 25vh;
  bottom: 25vh;
  left: 10vw;
  right: 10vw;
  border: 5px dashed rgba(255, 255, 255, 0.539);
  border-radius: 30px;
  display: none;
}

.text {
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 1.5;
  animation: blinking-animation 3s infinite alternate;
}

@media only screen and (max-width: 100px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@font-face {
  font-family: 'AlfaSlabOne-Regular';
  src: url('./public/font/AlfaSlabOne-Regular.ttf');
}

* {
  font-family: 'AlfaSlabOne-Regular';
}
html {
  background-color: rgb(16, 16, 16);
  height: 100%;
  overflow: hidden;
  touch-action: none;
}
body {
  user-select: none;
}

.instruction {
  position: absolute;
  top: 3vh;
  right: 3vw;
  font-size: 21px;
  line-height: 2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.5;
  animation: blinking-animation 5s infinite alternate;
}
.link {
  position: absolute;
  bottom: 3vh;
  left: 3vw;
}

.link-text {
  color: white;
  opacity: 0.6;
}
.link-inst {
  opacity: 0.6;
}
.link-inst:hover {
  opacity: 1;
}

.disco-ball {
  pointer-events: none;
  position: absolute;
  background-image: url('./public/img/discoBall.gif');
  margin: 0 73px;
  top: 0;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 124px 0;
  z-index: 3;
  display: block;
}
.snow-fall {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./public/img/snowFall.gif');
  opacity: 0;
  transition: 9s ease-in-out;
}
.game-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 720px;
  width: 560px;
  background: linear-gradient(0deg, rgb(149, 219, 240), rgb(82, 122, 210));
  border-radius: 15px;
  border: 3px solid rgb(255, 255, 255);
  overflow: hidden;
}

.bird {
  margin: 25px;
  position: absolute;
  top: 75%;
  height: 128px;
  width: 128px;
  transform: translate3d(0, 0, 0);
  background-image: url('./public/img/bird-srite-sheet.png');
  z-index: 1;
}

@keyframes dance {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 1152px 0px;
  }
}
@keyframes dance-fly {
  0% {
    background-position: 128px -128px;
  }
  100% {
    background-position: 1280px -128px;
  }
}
@keyframes fly {
  0% {
    background-position: 0 -256px;
  }
  100% {
    background-position: -768px -256px;
  }
}
@keyframes fly-coffee {
  0% {
    background-position: 1152px -384px;
  }
  100% {
    background-position: 0 -384px;
  }
}
@keyframes coffee-fly {
  0% {
    background-position: 128px -384px;
  }
  100% {
    background-position: 1152px -384px;
  }
}
@keyframes coffee-cigarette {
  0% {
    background-position: 0 -512px;
  }
  100% {
    background-position: -640px -512px;
  }
}
@keyframes relax {
  0% {
    background-position: 0 -640px;
  }
  100% {
    background-position: 1152px -640px;
  }
}
@keyframes coffee {
  0% {
    background-position: 0 -768px;
  }
  100% {
    background-position: 1152px -768px;
  }
}
@keyframes cigarette {
  0% {
    background-position: 0 -896px;
  }
  100% {
    background-position: 1152px -896px;
  }
}

.speach {
  position: absolute;
  bottom: 96px;
  left: 130px;
  width: 180px;
  height: 180px;
  background-image: url('./public/img/speach.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 10px 0;
  z-index: 1;
  display: none;
}
.speach-text {
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.pipes {
  position: absolute;
  right: 0;
  height: 95%;
  transform: translate3d(0, 0, 0);
}

.pipes2 {
  position: absolute;
  right: 0;
  height: 95%;
  transform: translate3d(0, 0, 0);
}

.pipeUp {
  position: absolute;
  top: 0;
  width: 64px;
  height: 200px;
  background-image: url('./public/img/sigarette-filter.png'), url('./public/img/sigarette.png');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: bottom, top;
}
.pipeDown {
  position: absolute;
  bottom: 0;
  width: 64px;
  height: 200px;
  background-image: url('./public/img/sigarette-filter.png'), url('./public/img/sigarette.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
}

.coffee {
  position: absolute;
  right: -57px;
  width: 40px;
  height: 64px;
  background-image: url('./public/img/coffee.png');
  display: none;
  will-change: transform;

  animation: coffee-blick 0.5s infinite alternate;
}

.coffeeCount {
  position: absolute;
  top: 6.5vh;
  left: 1vw;
  padding: 20px;
  height: 54px;
  width: 128px;
  font-size: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url('./public/img/coffee.png');
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 30px 15px;
}

.coins {
  position: absolute;
  top: 1.5vh;
  left: 1.69vw;
  padding: 20px;
  height: 54px;
  width: 128px;
  font-size: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url('./public/img/coin.gif');
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: 2px 9px;
}

.coffee-button {
  margin: 130px 47px;
  padding: 2px 10px;
  position: absolute;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 18px;
  display: none;
  animation: blinking-animation 0.4s infinite alternate;
}
.tablet {
  position: relative;
  background-image: url('./public/img/tabletDeg-contur.png');
  bottom: -538px;
  left: 700px;
  width: 128px;
  height: 148px;
}

.floor {
  position: absolute;
  background-image: url('./public/img/floor.jpeg');
  bottom: 0;
  margin: auto;
  width: 1120px;
  height: 30px;
  background-color: green;
  border: 2px solid rgb(209, 209, 209);
  border: 4px solid rgb(0, 0, 0);
  will-change: transform;
}

.pause {
  margin: 30px;
  padding: 2px 10px;
  position: absolute;
  right: 0;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  font-size: 18px;
  z-index: 3;
  display: none;
}

.pause-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 98%;
  width: 97.4%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: 11px solid rgb(0, 0, 0);
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.container {
  font-size: 32px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: white;
  padding: 3%;
}
input {
  height: 30px;
  width: 30px;
  accent-color: black;
}

.pause:hover {
  background-color: rgb(255, 255, 255);
}

.score {
  position: absolute;
  left: 0;
  right: 0;
  margin: 35px 240px;
  margin: 35px 240px;
  padding: 10px;
  font-size: 52px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  z-index: 2;
}

.container-mongoDBFalse {
  padding: 16px;

  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  transition: 0.25s;
  z-index: 3;
  opacity: 0;
}

#zero-score-alert {
  padding: 26px;
  padding-top: 50px;
  position: absolute;
  width: 46%;
  left: 50%;
  transform: translate(-50%, -130px);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 16px;
  z-index: 211;
}
@keyframes ZeroscoreAlertAlert {
  0% {
    translate: 0;
  }
  15% {
    translate: 0 120px;
  }
  85% {
    translate: 0 120px;
  }
  100% {
    translate: 0;
  }
}

#menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: block;
}

#container-record-table {
  position: absolute;
  top: 36%;
  bottom: 22%;
  left: 50%;
  translate: -50% 0;
  width: 70%;
  border: solid 2px rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

#record-table {
  /* overflow-y: auto; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#record-table-label {
  position: absolute;
  top: -36px;
  right: 50%;
  translate: 50% 0;
  font-size: 24px;
}

#user-name {
  pointer-events: all;
  position: absolute;
  width: 50%;
  height: 60px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  font-size: 26px;
  color: rgb(51, 175, 228);
  text-align: center;
  z-index: 11;
}

#record-table-Allname {
  list-style-type: decimal;
  position: absolute;
  top: 14%;
  left: 25%;
  translate: -50% 0;
}
#record-table-Allscore {
  list-style-type: none;
  position: absolute;
  top: 14%;
  right: 25%;
  translate: 50% 0%;
}

#record-table-split {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 90%;
  width: 4px;
  background-color: white;
  border-radius: 10px;
  opacity: 0.8;
}

.record-table-lable-name,
.record-table-lable-score {
  position: absolute;
  text-decoration: underline;
  font-size: 24px;
  opacity: 0.6;
}
.record-table-lable-name {
  left: 25%;
  translate: -50% 0;
}
.record-table-lable-score {
  right: 25%;
  translate: 50% 0;
}

.restart {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 30px;
  border: 4px solid rgb(180, 180, 180);
  border-radius: 25px;
  font-size: 38px;
  background-color: rgb(18, 18, 18);
  color: rgb(237, 237, 237);
  transition: 0.4s;
}

.restart:hover {
  border: 4px solid rgb(40, 40, 40);
  color: rgb(18, 18, 18);
  background-color: rgb(237, 237, 237);
}

#donations {
  position: absolute;
  bottom: 2%;
  right: 5%;
  padding: 4px 14px;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 8px;
  font-size: 16px;
  background-color: rgb(18, 18, 18);
  color: rgb(237, 237, 237);
  transition: 0.4s;
  cursor: pointer;
  z-index: 5;
}

#donations-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(18, 18, 18);
  z-index: 4;
}

.close-donations-page {
  transform: translateY(100%);
}

#exit-donations-page {
  position: absolute;
  top: 1%;
  right: 4%;
  color: rgb(234, 171, 235);
  font-size: 36px;
  cursor: pointer;
}
#exit-donations-page:hover {
  font-size: 42px;
  transform: translate(5%, -10%);
  transition: 0.2s;
}

#donations-box {
  position: absolute;
  top: 40%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  background-color: rgb(18, 18, 18);
  z-index: 11;
}
#donations-discription {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  color: rgb(234, 171, 235);
  text-align: center;
}
#donations-telegram {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  font-size: 22px;
  padding: 4px 14px;
  background-color: rgb(234, 171, 235);
  color: rgb(18, 18, 18);
  transition: 0.2s;
  cursor: pointer;
  animation: blinking-animation 1s infinite alternate;
}
#donations-telegram:hover {
  border: 4px solid rgb(40, 40, 40);
  color: rgb(18, 18, 18);
  transform: scale(110%) translate(-45%, -4%);
  background-color: rgb(237, 237, 237);
  transition: 0.2s;
}

.air1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(149, 219, 240), rgb(82, 122, 210));
  opacity: 0.2;
  z-index: -1;
}
.air2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(149, 219, 240), rgb(82, 122, 210));
  opacity: 0.2;
  z-index: -3;
}
.air3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(149, 219, 240), rgb(82, 122, 210));
  opacity: 0.4;
  z-index: -5;
}

.treesBG1 {
  position: absolute;
  z-index: -2;
}

.treesBG1-tree1 {
  position: absolute;
  top: 135px;
  height: 550px;
  width: 500px;
  background-image: url('./public/img/tree1-BG1.png');
  background-size: 130%;
  background-position: -80px -45px;
  display: none;
  will-change: transform;
}

.treesBG1-tree2 {
  position: absolute;
  top: 134px;
  height: 550px;
  width: 550px;
  background-image: url('./public/img/tree2-BG1.png');
  background-size: 120%;
  background-position: -30px 0px;
  display: none;
  will-change: transform;
}

.treesBG1-tree3 {
  position: absolute;
  top: 250px;
  height: 440px;
  width: 450px;
  background-image: url('./public/img/tree3-BG1.png');
  background-size: 103%;
  background-position: 0 3px;
  display: none;
  will-change: transform;
}

.treesBG1-tree4 {
  position: absolute;
  top: 250px;
  height: 440px;
  width: 450px;
  background-image: url('./public/img/tree4-BG1.png');
  background-size: 103%;
  background-position: 0 3px;
  display: none;
  will-change: transform;
}

.cloudsBG2 {
  position: absolute;
  opacity: 0.6;
  z-index: -4;
}
.cloudBG1-cloud1 {
  position: absolute;
  top: 150px;
  left: -200px;
  height: 110px;
  width: 190px;
  background-image: url('./public/img/clouds-pack.png');
  background-size: 212%;
  background-position: -6px 0px;
}

.cloudBG1-cloud2 {
  position: absolute;
  top: 150px;
  left: -200px;
  height: 110px;
  width: 190px;
  background-image: url('./public/img/clouds-pack.png');
  background-size: 212%;
  background-position: -200px 0px;
}

.cloudBG1-cloud3 {
  position: absolute;
  top: 150px;
  left: -200px;
  height: 110px;
  width: 190px;
  background-image: url('./public/img/clouds-pack.png');
  background-size: 212%;
  background-position: -2px -120px;
}

.cloudBG1-cloud4 {
  position: absolute;
  top: 150px;
  left: -200px;
  height: 110px;
  width: 190px;
  background-image: url('./public/img/clouds-pack.png');
  background-size: 212%;
  background-position: -200px -120px;
}

.cloudBG1-cloud5 {
  position: absolute;
  top: 150px;
  left: -200px;
  height: 110px;
  width: 190px;
  background-image: url('./public/img/clouds-pack.png');
  background-size: 212%;
  background-position: 0 -240px;
}

.cloudBG1-cloud6 {
  position: absolute;
  top: 150px;
  left: -200px;
  height: 110px;
  width: 190px;
  background-image: url('./public/img/clouds-pack.png');
  background-size: 212%;
  background-position: -200px -240px;
}

.mountain {
  position: absolute;
  background-image: url('./public/img/BG3-mountain.png');
  bottom: 31px;
  margin: auto;
  width: 1200px;
  height: 110px;
  opacity: 0.6;
  z-index: -6;
}

@keyframes blinking-animation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes coffee-blick {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* @media screen and (max-width: 400px) {
  .game-box {
    scale: 0.6;
    translate: -20% -20%;
  }
} */

/* Для WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 4px; /* Ширина скроллбара */
}

/* Для WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); /* Цвет ползунка */
  border-radius: 10px;
}
